<mat-toolbar class="side-toolbar">
  <div class="row">
    <button routerLink="/event" class="side-menu-create-event">
      <mat-icon aria-hidden="false" class="trip-origin-circle">trip_origin</mat-icon>
      <span class="text-menu">CREATE EVENT</span>
    </button>
  </div>
  <div class="row">
    <button routerLink="/events-overview" class="side-menu">
      <mat-icon aria-hidden="false" class="trip-origin-circle">trip_origin</mat-icon>
      <span class="text-menu">EVENTS OVERVIEW</span>
    </button>
  </div>
  <div class="row">
    <button routerLink="/validate-ticket" class="side-menu">
      <mat-icon aria-hidden="false" class="trip-origin-circle">trip_origin</mat-icon>
      <span class="text-menu">VALIDATE TICKET</span>
    </button>
  </div>
  <div class="row">
    <button routerLink="/load-tickets" class="side-menu">
      <mat-icon aria-hidden="false" class="trip-origin-circle">trip_origin</mat-icon>
      <span class="text-menu">LOAD TICKETS</span>
    </button>
  </div>

</mat-toolbar>
